---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/site/Title.astro";
import Content from "../../components/site/Content.astro";
import Sidebar from "../../components/site/Sidebar.astro";
import Code from "../../components/site/Code.astro"
---

<Layout title="Installation">
  <Sidebar>
    <Title title="Installation" />
    <Content>
      <p>
        1.- 
      </p>
    </Content>
    <div class="w-1/2"><Code code="hola"/></div>
    
  </Sidebar>
</Layout>
