---
import Code from "../site/Code.astro";
---

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Colors</h2>
</div>
<div class="flex flex-col items-center">
  <div class="flex flex-col gap-2 w-full">
    <div class="alert-green" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-red" role="alert">A simple red alert — check it out!</div>
    <div class="alert-orange" role="alert">
      A simple orange alert — check it out!
    </div>
    <div class="alert-yellow" role="alert">
      A simple yellow alert — check it out!
    </div>
    <div class="alert-blue" role="alert">
      A simple blue alert — check it out!
    </div>
    <div class="alert-purple" role="alert">
      A simple purple alert — check it out!
    </div>
    <div class="alert-gray" role="alert">
      A simple gray alert — check it out!
    </div>
    <div class="alert-light" role="alert">
      A simple light alert — check it out!
    </div>
  </div>
  <Code
    code={`
    <div class="alert-green" role="alert">A simple green alert — check it out!</div>
    <div class="alert-red" role="alert">A simple red alert — check it out!</div>
    <div class="alert-orange" role="alert">A simple orange alert — check it out!</div>
    <div class="alert-yellow" role="alert">A simple yellow alert — check it out!</div>
    <div class="alert-blue" role="alert">A simple blue alert — check it out!</div>
    <div class="alert-purple" role="alert">A simple purple alert — check it out!</div>
    <div class="alert-gray" role="alert">A simple gray alert — check it out!</div>
    <div class="alert-light" role="alert">A simple light alert — check it out!</div>
      `}
  />
</div>

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Alternative</h2>
</div>
<div class="flex flex-col items-center">
  <div class="flex flex-col gap-2 w-full">
    <div class="alert-alternative-green" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-red" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-orange" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-yellow" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-blue" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-purple" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-gray" role="alert">
      A simple green alert — check it out!
    </div>
    <div class="alert-alternative-light" role="alert">
      A simple green alert — check it out!
    </div>
  </div>
  <Code
    code={`
      <div class="alert-alternative-green" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-red" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-orange" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-yellow" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-blue" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-purple" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-gray" role="alert">A simple green alert — check it out!</div>
      <div class="alert-alternative-light" role="alert">A simple green alert — check it out!</div>
        `}
  />
</div>
