---
import Code from "../site/Code.astro";
---

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Colors</h2>
</div>
<div class="grid grid-cols-2 gap-2 md:flex lg:flex md:justify-center md:items-center lg:justify-center lg:items-center md:gap-x-2 lg:gap-x-2">
  <button class="btn-green"> Green </button>
  <button class="btn-red"> Red </button>
  <button class="btn-orange"> Orange </button>
  <button class="btn-yellow"> Yellow </button>
  <button class="btn-blue"> Blue </button>
  <button class="btn-purple"> Purple </button>
  <button class="btn-gray"> Gray </button>
  <button class="btn-light"> Light </button>
</div>
<div class="flex justify-center items-center gap-x-2">
  <Code
    code={`
    <button class="btn-green"> Green </button>  
    <button class="btn-red"> Red </button>  
    <button class="btn-orange"> Orange </button>  
    <button class="btn-yellow"> Yellow </button>  
    <button class="btn-blue"> Blue </button>  
    <button class="btn-purple"> Purple </button>  
    <button class="btn-gray"> Gray </button>  
    <button class="btn-light"> Light </button>  
    `}
  />
</div>

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Hover</h2>
</div>
<div class="grid grid-cols-2 gap-2 md:flex lg:flex md:justify-center md:items-center lg:justify-center lg:items-center md:gap-x-2 lg:gap-x-2">
  <button class="btn-green-h"> Green </button>
  <button class="btn-red-h"> Red </button>
  <button class="btn-orange-h"> Orange </button>
  <button class="btn-yellow-h"> Yellow </button>
  <button class="btn-blue-h"> Blue </button>
  <button class="btn-purple-h"> Purple </button>
  <button class="btn-gray-h"> Gray </button>
  <button class="btn-light-h"> Light </button>
</div>
<div class="flex justify-center items-center gap-x-2">
  <Code
    code={`
    <button class="btn-green-h"> Green </button>
    <button class="btn-red-h"> Red </button>
    <button class="btn-orange-h"> Orange </button>
    <button class="btn-yellow-h"> Yellow </button>
    <button class="btn-blue-h"> Blue </button>
    <button class="btn-purple-h"> Purple </button>
    <button class="btn-gray-h"> Gray </button>
    <button class="btn-light-h"> Light </button> 
    `}
  />
</div>

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Outline</h2>
</div>
<div class="grid grid-cols-2 gap-2 md:flex lg:flex md:justify-center md:items-center lg:justify-center lg:items-center md:gap-x-2 lg:gap-x-2">
  <button class="btn-outline-green"> Green </button>
  <button class="btn-outline-red"> Red </button>
  <button class="btn-outline-orange"> Orange </button>
  <button class="btn-outline-yellow"> Yellow </button>
  <button class="btn-outline-blue"> Blue </button>
  <button class="btn-outline-purple"> Purple </button>
  <button class="btn-outline-gray"> Gray </button>
  <button class="btn-outline-light"> Light </button>
</div>
<div class="flex justify-center items-center gap-x-2">
  <Code
    code={`
    <button class="btn-outline-green"> Green </button>
    <button class="btn-outline-red"> Red </button>
    <button class="btn-outline-orange"> Orange </button>
    <button class="btn-outline-yellow"> Yellow </button>
    <button class="btn-outline-blue"> Blue </button>
    <button class="btn-outline-purple"> Purple </button>
    <button class="btn-outline-gray"> Gray </button>
    <button class="btn-outline-light"> Light </button>
    `}
  />
</div>

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Focus</h2>
</div>
<div class="grid grid-cols-2 gap-2 md:flex lg:flex md:justify-center md:items-center lg:justify-center lg:items-center md:gap-x-2 lg:gap-x-2">
  <button class="btn-focus-green"> Green </button>
  <button class="btn-focus-red"> Red </button>
  <button class="btn-focus-orange"> Orange </button>
  <button class="btn-focus-yellow"> Yellow </button>
  <button class="btn-focus-blue"> Blue </button>
  <button class="btn-focus-purple"> Purple </button>
  <button class="btn-focus-gray"> Gray </button>
  <button class="btn-focus-light"> Light </button>
</div>
<div class="flex justify-center items-center gap-x-2">
  <Code
    code={`
    <button class="btn-focus-green" > Green </button>
    <button class="btn-focus-red" > Red </button>
    <button class="btn-focus-orange" > Orange </button>
    <button class="btn-focus-yellow" > Yellow </button>
    <button class="btn-focus-blue" > Blue </button>
    <button class="btn-focus-purple" > Purple </button>
    <button class="btn-focus-gray" > Gray </button>
    <button class="btn-focus-light" > Light </button>
    `}
  />
</div>

<div class="text-center m-5">
  <h2 class="text-2xl font-semibold">Disabled</h2>
</div>
<div class="grid grid-cols-2 gap-2 md:flex lg:flex md:justify-center md:items-center lg:justify-center lg:items-center md:gap-x-2 lg:gap-x-2">
  <button class="btn-green" disabled> Green </button>
  <button class="btn-red" disabled> Red </button>
  <button class="btn-orange-h" disabled> Orange </button>
  <button class="btn-yellow-h" disabled> Yellow </button>
  <button class="btn-focus-blue" disabled> Blue </button>
  <button class="btn-focus-purple" disabled> Purple </button>
  <button class="btn-outline-gray" disabled> Gray </button>
  <button class="btn-outline-light" disabled> Light </button>
</div>
<div class="flex justify-center items-center gap-x-2">
  <Code
    code={`
    <button class="btn-green" disabled> Green </button>
    <button class="btn-red" disabled> Red </button>
    <button class="btn-orange-h" disabled> Orange </button>
    <button class="btn-yellow-h" disabled> Yellow </button>
    <button class="btn-focus-blue" disabled> Blue </button>
    <button class="btn-focus-purple" disabled> Purple </button>
    <button class="btn-outline-gray" disabled> Gray </button>
    <button class="btn-outline-light" disabled> Light </button>
    `}
  />
</div>
