---
const PROJECTS = [
  {
    title: "Accordion",
    description: `Discover, choose, and use the variants of the accordions.`,
    link: "/components-plugin/accordion",
  },
  {
    title: "Alert",
    description: `Discover, choose, and use the variants of the alerts.`,
    link: "/components-plugin/alert",
  },
  {
    title: "Badge",
    description: `Dhoose, choose, and use the badges.`,
    link: "/components-plugin/badge",
  },
  {
    title: "Button",
    description: `Discover, choose, and use the variants of the buttons.`,
    link: "/components-plugin/button",
  },
  {
    title: "Card",
    description: `Discover, choose, and use the variants of the card.`,
    link: "/components-plugin/card",
  },
];
---

{
  PROJECTS.map(({ title, description, link }) => (
    <div class="pb-2 md:pr-2 lg:pr-2 ">
      <a href={link}>
        <div class="border-2 border-stone-600 rounded-lg hover:border-stone-300 hover:opacity-85 shadow ">
          <div class="p-5">
            <h5 class="mb-2 text-xl font-bold tracking-tight">{title}</h5>
            <p class="mb-3 text-base font-normal opacity-70">{description}</p>
          </div>
        </div>
      </a>
    </div>
  ))
}