---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/site/Title.astro";
import Content from "../../components/site/Content.astro";
import Sidebar from "../../components/site/Sidebar.astro";
import ComponentsList from "../../components/site/ComponentsList.astro";
---

<Layout title="Components">
  <Sidebar>
    <Title title="Components" />
    <Content>
      <p>
        Here you have all the available components for you to use.
      </p>
    </Content>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <ComponentsList/>
    </div>
  </Sidebar>
</Layout>
