---
import Background from "../components/site/Background.astro";
---

<Background>
  <div
    class="md:flex lg:flex md:flex-col lg:flex-col lg:items-center lg:justify-center md:items-center md:justify-center h-screen gap-5"
  >
    <h1 class="text-white text-8xl font-bold">Error 404</h1>
    <p class="text-white text-xl font-semibold">
      This page could not be found.
    </p>
    <div class="m-8">
      <a
        href="/"
        class="bg-stone-500 rounded-lg py-2 px-8 flex gap-x-2 border-2 border-transparent text-2xl text-white hover:border-stone-200"
      >
        Regresar</a
      >
    </div>
  </div>
</Background>